# Copy this file to .env only when you need to override local defaults.
PLATFORM_DB_NAME=platform_db
PLATFORM_DB_PASSWORD=root123456
MYSQL_PORT=3306

PLATFORM_API_PORT=8090
PLATFORM_UI_PORT=3100
TASK_API_PORT=8082
TASK_UI_PORT=3002
AI_API_PORT=8083
AI_UI_PORT=3003
TOOL_API_PORT=8084
TOOL_UI_PORT=3004
